* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: white;
  --text-color: black;
  --forecast-card-background: #5a7fa1; 
  --forecast-card-border: #ccc;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  background-image: var(--background-image);
  background-size: cover; 
  background-position: center; 
}

.dark-mode {
  --background-color: black;
  --text-color: white;
  --background-image: url('./assets/pexels-d-ng-nhan-324384-1529881.jpg');
  --forecast-card-background: #2c3e50; 
  --forecast-card-border: #34495e; 
}

.light-mode {
  --background-color: white;
  --text-color: black;
  --background-image: url('./assets/pexels-couleur-29008111.jpg');
  --forecast-card-background: #5a7fa1;
  --forecast-card-border: black; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2, h5 {
  margin: 0;
}

input {
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white; 
  transition: color 0.3s;
}

button:hover {
  color: #f0a500; 
}

nav {
  transition: background-color 0.3s, color 0.3s; 
}

.forecast-container {
  display: flex;               
  flex-wrap: wrap;          
  justify-content: space-between; 
  padding: 5px;             
}

.forecast-card {
  flex: 0 0 calc(30% - 10px);
  margin: 5px;
  margin-bottom: 20px;
  background: var(--forecast-card-background); 
  border: 1px solid var(--forecast-card-border); 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .forecast-card {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .forecast-card {
    flex: 0 0 calc(100% - 10px);
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;