:root {
  --background-color: white;
  --text-color: black;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  background-image: var(--background-image);
  background-size: cover; 
  background-position: center; 
}

.dark-mode {
  --background-color: black;
  --text-color: white;
  --background-image: url('./assets/pexels-d-ng-nhan-324384-1529881.jpg');

}

.light-mode {
  --background-color: white;
  --text-color: black;

  --background-image: url('./assets/pexels-couleur-29008111.jpg');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2, h5 {
  margin: 0;
}

input {
  padding: 10px;
  margin: 10px 0;
}

.light-mode, .dark-mode {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white; /* Change based on your theme */
  transition: color 0.3s;
}

button:hover {
  color: #f0a500; /* Change color on hover */
}

button svg {
  vertical-align: middle;
}
nav {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for colors */
}


.bg-gray-900 {
  background-color: #1a202c; /* Dark background */
}

.bg-white {
  background-color: #ffffff; /* Light background */
}

.text-white {
  color: #ffffff; /* Light text */
}

.text-gray-900 {
  color: #1a202c; /* Dark text */
}

.forecast-container {
  display: flex;               /* Use Flexbox */
  justify-content: space-between; /* Distribute space between cards */
  overflow-x: auto;           /* Allow horizontal scrolling if needed */
  padding: 10px;              /* Optional padding */
}

.forecast-card {
  flex: 1;                    /* Allow cards to grow equally */
  margin: 0 10px;            /* Add margin between cards */
  min-width: 150px;          /* Set a minimum width for the cards */
  background: #5a7fa1;       /* Optional background color */
  border-radius: 8px;        /* Optional rounded corners */
  padding: 20px;             /* Optional padding inside the card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
@tailwind base;
@tailwind components;
@tailwind utilities;